<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'/>
	<title>Kinexperience</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Abel|Comfortaa|Exo+2|Poiret+One|Rajdhani" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

	<!-- Stylesheets -->
	<link rel='stylesheet' type='text/less' href="less/main.less" />
	<link rel='stylesheet' type='text/css' href="css/ie-fallback.css" />

	<!-- Only script in header: less on-the-fly compiler -->
	<script type='text/javascript' src="node_modules/less/dist/less.min.js"></script>

	<!-- Favicon set -->
	<link rel="apple-touch-icon" sizes="57x57" href="img/website/icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/website/icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/website/icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/website/icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/website/icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/website/icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/website/icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/website/icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/website/icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/website/icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/website/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/website/icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/website/icons/favicon-16x16.png">
	<link rel="manifest" href="img/website/icons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/website/icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
</head>
<body>

<div id="kinexp-web">
	<div class="header"
		 v-bind:class="{ 'mobile-menu-open': isOpen }">
		<!--<div class="logo">
			<a href="#" class="menu-tab">
				<img class="kinexp" src="img/other/kinexp.png" alt="Kinexperience project"/>
			</a>
		</div>-->
		<div class="menu" v-on:click="isOpen = false">
			<a href="#abstract" class="menu-tab home">Abstract</a>
			<a href="#showcase" class="menu-tab home">Showcase</a>
			<a href="#installation" class="menu-tab home">Installation</a>
			<a href="#about" class="menu-tab home">About</a>
			<a href="#links" class="menu-tab home">Links</a>
			<a href="#acks" class="menu-tab home">Acknowledgements</a>
		</div>
		<div class="mobile-burger" v-on:click="isOpen = !isOpen">
			<p class="fa fa-bars" v-if="!isOpen"></p>
			<p class="fa fa-times" v-if="isOpen"></p>
		</div>
	</div>

	<div class="core">
		<router-view></router-view>
	</div>

	<div class="footer">
		<!--<p class="click-and-hue">Alex Andrix</p>-->
		<p class="version">@2018-2019</p>
	</div>
</div>

<!-- View templates -->
<template id="home-template">
	<div id="home">
		<div class="page-banner"></div>

		<div class="page-content">
            <h1>Kinexperience</h1>
			<div class="abstract" id="abstract">
				<h3>Abstract</h3>
				<p>
					Modern choreographic composition is strongly influenced by dance theorist Rudolf Laban. He explored the field of Choreutics with the concept of Kinesphere, an icosahedron representing the natural boundaries of our bodily space in which motion happens.
					<br/>
					<br/>
					<em>Kinexperience</em> immerses the public right into Laban’s dance framework by wrapping a full human-sized virtual icosahedron around the person’s body. The icosahedron reacts to the motion of hands and feet triggering visual effects like trace lighting or particles explosion, giving the dancer feedback and insight into its own spontaneous practice.
				</p>
			</div>
			<div id="showcase">
				<h3>Showcase</h3>
				<div class="showcase">
					<video src="vids/explosiondemo.mp4" autoplay loop muted></video>
					<img src="img/art/theoriz5.jpg" />
					<img src="img/art/ico1.jpg" />
					<img src="img/art/theoriz3.jpg" />
					<img src="img/art/slide.jpg" />
					<img src="img/art/ico2.jpg" />
					<img src="img/art/theoriz8.jpg" />
					<img src="img/art/inside1.jpg" />
					<img src="img/art/theoriz6.jpg" />
					<img src="img/art/unity1.jpg" />
					<img src="img/art/presenting.jpg" />
					<img src="img/art/icored.jpg" />
					<img src="img/art/ico3.jpg" />
					<img src="img/art/spots.jpg" />
					<img src="img/art/theoriz2.jpg" />
					<img src="img/art/theoriz4.jpg" />
				</div>
			</div>
			<div class="installation" id="installation">
				<h3>Installation</h3>
				<p><strong>3D creation software</strong> -> Unity (version 2018.0.2f)</p>
				<p><strong>Body motion detection</strong> -> Kinect v2</p>
				<p><strong>Particle system</strong> -> KAPPS (Theoriz Studio)</p>
				<p><strong>VR headset</strong> -> HTC Vive</p>
				<p><strong>Dancefloor experimentation</strong> -> LABLAB</p>
			</div>
			<div class="dates">
				<h3>Dates</h3>
				<p>Sprint 1 > from <strong>june 5th 2018</strong> to <strong>june 19th 2018</strong></p>
				<p>Open LABLAB day > <strong>june 12th 2018</strong></p>
				<p>Sprint 2 > from <strong>jan. 14th 2019</strong> to <strong>feb. 8th 2019</strong> at <a href="https://www.les-subs.com/" target="_blank" title="Les Subsistances">Subsistances</a>/<a href="https://labo-nrv.io/" target="_blank" title="Labo NRV Numérique Réalités Virtualités">LaboNRV</a> - 4 weeks residence</p>
				<p>Full stage setup > from <strong>february 4th 2019</strong> to <strong>february 8th 2019</strong> at <a href="https://www.les-subs.com/" target="_blank" title="Les Subsistances">Subsistances</a></p>
			</div>
			<div class="about" id="about">
				<h3>About</h3>
				<div class="bio-sections">
					<div class="ariane bio-section">
						<h4>Ariane Cassimiro</h4>
						<div class="picandtext">
							<p>
								Ariane Cassimiro explores relations between dance and digital arts by positioning the public at the very heart of her creations.
								<br/>
								With a broad experience in live performance, she started a new projects line in 2016 with <em>«Là»</em>, in which images are generated out of the person’s body motion.
								<br/>
								<br/>
								In an effort to widen the public aesthetical experience, she focuses on virtual and augmented reality to create performance mixing digital arts and dance.
								<br/>
								<br/>
								<a href="http://arianecassimiro.wixsite.com/inicio" target="_blank">http://arianecassimiro.wixsite.com/inicio</a>
							</p>
						</div>
					</div>
					<div class="alex bio-section">
						<h4>Alex Andrix</h4>
						<div class="picandtext">
							<p>
								Alex Andrix uses science in all his creations. Passionate about fundamental physics and particle systems, he started in 2014 with a project of voice-driven artwork generation using web languages. Meeting art director Jean-François Robin in 2017, he co-developed VR project <em>_Transition</em> presented at Mirage Festival in Lyon the following year.
								<br/>
								Focusing on bringing aesthetics to science and scientific perspective to digital arts, he currently works with <em>Laboratoire de Physique ENS de Lyon</em> on showcasing plasma equations in virtual reality.
								<br/>
								<br/>
								<a href="http://alexandrix.com/" target="_blank">http://alexandrix.com/</a>
							</p>
						</div>
					</div>
				</div>

			</div>
			<br/>
			<div class="links" id="links">
				<h3>Links</h3>

				<div class="sprint-2">
					<p>Note: the team gathered again mid-January 2019 for the second sprint, including tech-artist Yves Brozat. After 2 weeks of work, due to divergence of opinion on artistic choices, working methodology, and others, I decided to quit the project. A mid-term report on our first two weeks of residency is available (FR): <a href="" target="_blank">HERE (yet to come)</a></p>
				</div>

				<br/>
				<br/>

				<div class="external">
					<p>Report on the creation process during Sprint 1 (FR): <a href="http://labo-nrv.io/projet/kinexperience/" target="_blank">HERE</a></p>
				</div>
				<p>Link 1: <a href="https://www.les-subs.com/artiste-en-residence/ariane-cassimiro-et-alex-andrix/" target="_blank">here</a></p>
				<p>Link 2: <a href="http://labo-nrv.io/actu/ariane-cassimiro/" target="_blank">here</a></p>
				<p>Link 3: <a href="http://labo-nrv.io/actu/kinexperience/" target="_blank">here</a></p>
				<p>Link 4: <a href="https://www.les-subs.com/en/evenement/chantier-cassimiro-andrix/" target="_blank">here</a></p>
			</div>
			<br/>
			<div class="acks" id="acks">
				<h3>Acknowledgements</h3>
				<div class="flexrow flexwrap">
                    <a href="http://www.theoriz.com/" target="_blank" class="ack theoriz">
                        <img src="img/other/theoriz.jpg" />
                        <p>Theoriz Studio</p>
                    </a>
                    <a href="http://labo-nrv.io/" target="_blank" class="ack nrv">
                        <img src="img/other/logolaboNRV.png" />
                        <p>Labo NRV</p>
                    </a>
                    <a href="https://melting.space/new/#/blog" target="_blank" class="ack melting">
						<img class="melting" src="img/other/melting.png" />
                        <p>Melting Space</p>
                    </a>
                    <a href="https://www.les-subs.com/" target="_blank" class="ack subs">
                        <img src="img/other/subs.png" />
                        <p>Les Subsistances</p>
                    </a>
				</div>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<!-- Components -->

<!-- IE fallback -->
<div id="ie-fallback">
	<img width="150" height="150" src='img/website/icosacidron-svg-blue.svg' />
	<p>This website works best on modern browsers.<br/>Please don't use Internet Explorer and download <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>

	<p>Thanks!</p>
</div>

<!-- Libs -->
<script type='text/javascript' src="node_modules/vue/dist/vue.min.js"></script>
<!--<script type='text/javascript' src="node_modules/vue/dist/vue.js"></script>-->
<script type='text/javascript' src="node_modules/vue-router/dist/vue-router.min.js"></script>
<script type='text/javascript' src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- Ours -->
<script type='text/javascript' src="js/utils.js"></script>
<script type='text/javascript' src="js/jAntispam.js"></script>
<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
